@import url('https://fonts.googleapis.com/css?family=Belleza|Great+Vibes|Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poiret+One&display=swap');
/* font-family: 'Belleza', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Poiret One', cursive; */


:root{
  font-size: 16px;
  --color1:#9d8189;
  --color2:#f4acb7;
  --color3:#ffcad4;
  --color4:#ffe5d9;
  --color5:#DAFFEF;
  --Text:'Poiret One', cursive;
  --Title: 'Homemade Apple', cursive;
}
*{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 20px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color1);
  height: 25px;
  border-radius: 10px;
}


.portada{
  min-height: 100vh;
  background-image: url('./images/aboutMee.jpeg');
  background-position: center;
  
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.portada h1{
  margin: 0;
  margin-bottom: 100px;
  color: #FFE5D9;
  font-size: 9rem;
  font-family: 'Belleza', sans-serif;
  font-family: 'Homemade Apple', cursive;
}

.navbar{
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
}
.navbar-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition-duration: 500ms;
}
.navbar-item:hover{
  background-color: #ffe5d9;
}
.navbar-link{
  color: black;
  text-decoration: none;
  font-family: 'Belleza', sans-serif;
  font-size: 1.7rem;
}



.about{
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-color: var(--color3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about-box{
  height: 500px;
  width: 900px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.about-photo{
  width: 49%;
  height: 100%;
  background-image: url('./images/aboutme2.jpeg');
  background-size: cover;
  background-position: bottom;

}
.about-description{
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-title{
  height: 20%;
  width: 100%;
  background-color: var(--color5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: var(--Title);
  font-size: 1.4rem;
}
.about-text{
  height: 70%;
  width: 100%;
  background-color: white;
}
.about-text p{
  font-family: var(--Text);
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;

}
.about-text::-webkit-scrollbar{
  width: 10px;
  background-color:transparent;
}
.about-text::-webkit-scrollbar-thumb{
  background-color: var(--color1);
  height: 25px;
  border-radius: 5px;
}

.makeupskin{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color5);
}
.makeup-box{
  height:550px;
  width: 900px;
  /* min-width: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}
.box-item{
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-photo{
  height: 100%;
  width: 30%;
  background-size: cover;
  background-position: center;
}
.photo-mk .item-photo{
  background-image: url("./images/makeupIdeas.jpeg");
}
.photo-sk .item-photo{
  background-image: url('./images/skinCare.jpeg');
}
.photo-sk{
  flex-direction: row-reverse;
}
.item-text{
  height: 95%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--color1);
}
.item-text .title{
  margin: 0;
  padding-top: 1rem;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--Title);
  font-size: 3rem;
  color: white;
  font-weight: 400;
}
.item-text .box-text{
  height: 70%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-family: var(--Text);
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  overflow-y: auto;
}
.item-text .box-text::-webkit-scrollbar{
  width: 10px;
  background-color:transparent;
}
.item-text .box-text::-webkit-scrollbar-thumb{
  background-color: var(--color4);
  height: 25px;
  border-radius: 5px;
}


.contact{
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background: linear-gradient(var(--color2), var(--color1));
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contact-box{
  min-height:550px;
  width: 900px;
  /* min-width: 600px; */
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center ;
  margin-bottom: 30px;

}
.message{
  min-height: 30%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 4px solid white;
}
.message h1{
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: white;
}
.networks{
 height: 250px;
 width: 80%;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.network{
  border: 2px solid white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.network .network-link{
  font-size: 6rem;
  color: white;
}
.emailphone{
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-area{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-area .info-link{
  color: white;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  text-decoration: none;
}
.info-area .info-link a, span{
  margin: 0 10px;
}


/* responsive mobile  */
@media screen and (max-width: 600px) {
  body{
    width: 100%;
  }
  .navbar{
    width: auto;
    height: auto;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    
    transition-duration: 1000ms;
  }
  .navbar i{
      font-size: 2rem;
      align-self:flex-end;
      margin: 5px 10px;
  }
  .navbar:hover .navbar-item{
    display: flex;
  }
  .navbar .navbar-item{
    display: none;
    height: 4rem;
    width: 100%;
  }

  .portada{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .portada h1{
    max-width: 90%;
    font-size: 3.2rem;
    text-align: center;
  }
  
  .about{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .about-box{
    max-height: 550px;
    width: 95%;
  }
  .about-title{
    height: 15%;
  }
  .about-title h1{
    font-size: 1.3rem;
  }
  .about-text{
    height: 80%;
    overflow-y: auto;
  }



  .makeupskin{
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .makeup-box{
    height:800px;
    width: 95%;
    margin: 25px 10px;
  }
  .box-item{
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .item-photo{
    height: 40%;
    width: 40%;
  }
  .item-text{
    height: 60%;
    width: 100%;
  }
  .item-text .title{
    height: 30%;
    font-size: 1rem;
  }
  .item-text .title{
    font-size: 1.5rem;
  }

  .contact{
    height: 100%;
    width: 100%;
  }
  .contact-box{
    height: 80%;
    width: 90%;
  
  }

  .networks{
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .network{
    height: 100px;
    width: 100px;


  }
  .network .network-link{
    font-size: 3rem;
  }
  .emailphone{
    height: 100px;
    display: flex;
    flex-direction: column;

  }
  .info-area{
      height: 30px;
  }
  .info-area .info-link{
    font-size: 1.1rem;
  }



}